.titleContainer {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  min-height: 100vh;
  padding: 5% 15% 0px;
}

.title {
  transition: transform 4s ease-out;
}

.title h1 {
  margin: 0px 0px 30px 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
}

.title h2 {
  letter-spacing: 0.02em;
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  color: var(--lightest-slate);
}

.title h3 {
  font-size: clamp(40px, 8vw, 65px);
}

.title p {
  margin-top: 1.2em;
  max-width: 680px;
}

@media (max-width: 768px) {
  .titleContainer {
    padding: 5% 5% 0px;
  }
}
