@keyframes flyUp {
  from {
    transform: translateY(50rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flyUpAnimation {
  animation: flyUp 0.8s ease-out forwards;
}

@keyframes revealFromBottomToTop {
  from {
    clip-path: inset(100% 0 0 0); /* Start with a full vertical inset */
  }
  to {
    clip-path: inset(0 0 0 0); /* End with no inset */
  }
}

.imageReveal {
  clip-path: inset(100% 0 0 0);
  animation: revealFromBottomToTop 1.3s cubic-bezier(0.94, 0, 1, 1) forwards;
  animation-delay: 0.5;
}
