#App-container {
  padding: 0.5em;
  box-sizing: border-box;
  position: relative;
  height: 2000px;
  /* background: #123451; */
  padding: 0 20%;
  /* width: 100vw; */
}

.main-content {
  background: #ffffff;
  /* height: 100vh; */
}
