#App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

.main-content {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  background-color: var(--bg-primary);
  margin-top: var(--nav-height);
}

.fillHeight {
  padding: 0px 100px;
}

@media (max-width: 1024px) {
  .fillHeight {
    padding: 0px 60px;
  }
}

@media (max-width: 768px) {
  .fillHeight {
    padding: 0px 40px;
  }
}

@media (max-width: 600px) {
  .fillHeight {
    padding: 0px 25px;
  }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
  .fillHeight {
    padding: 0px 25px;
  }
}