.aboutWrapper {
  padding-bottom: 100px;
}

.aboutWrapper h2 {
  margin: 10px 0 40px 0;
}

.aboutMeHead {
  opacity: 0;
  display: flex;
  margin: 10px 0 40px 0;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.aboutMeHead::before {
  counter-increment: section 1;
  content: '0' counter(section) '.';
  margin-right: 10px;
}

.aboutMeHead::after {
  content: '';
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #000;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.aboutMeInfo {
  opacity: 0;
}

.aboutMeInfo p {
  margin-bottom: 20px;
}

.skillsListParagraph {
  opacity: 0;
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  margin-top: 1em;
  list-style-type: none;
  opacity: 0;
}

.skillsList li::before {
  content: '▹';
  /* position: absolute;
  left: 0px; */
}

.imageWrapper {
  flex-shrink: 0;
  width: 500px;
}

.imageWrapper img {
  height: auto;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
