.jobsWrapper {
  padding: 100px 0;
  max-width: 700px;
  margin: 0px auto;
}

.jobHead {
  margin: 10px 0 40px 0;
}

.jobHead::before {
  counter-increment: section 2;
  content: '0' counter(section) '.';
  margin-right: 10px;
}

.jobHead::after {
  content: '';
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  min-height: 340px;
}

.tabList {
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0px;
  margin: 0px;
}

.tabList button {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  position: relative;
  display: flex;
  text-align: left;
  align-items: center;
  height: 42px;
  width: 100%;
  white-space: nowrap;
}

.jobPanel {
  position: relative;
  width: 100%;
  margin-left: 20px;
}

.tabPanel {
  width: 100%;
  height: auto;
  padding: 10px 5px;
  min-height: 300px;
}

.tabPanel h3 {
  margin-bottom: 2px;
  font-size: 22px;
  line-height: 1.3;
}

.range {
  margin-bottom: 25px;
}

.jobList {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.jobList li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.jobList ::before {
  content: '▹';
  position: absolute;
  left: 0px;
}

.hide {
  display: none;
}
