.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 2rem;
  z-index: 10;
  transition: opacity 0.3s ease-out;
  transform: translateY(0);
}

.infoLeft {
  margin-left: 1.3rem;
  position: fixed;
  left: 4rem;
  bottom: 3rem;
}

.infoRight {
  position: fixed;
  right: 4rem;
  bottom: 3rem;
}

.infoContact {
  display: flex;
  font-size: 0.9rem;
}

.infoContact ul {
  text-decoration: none;
  list-style: none;
}

.infoContact li {
  padding-bottom: 0.3rem;
}

.occupation {
  padding-right: 2.5rem;
}

.social {
  position: relative;
  left: -5rem;
}

.social ul {
  list-style-type: none;
}

.social li {
  padding-bottom: 3px;
}

.social a {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

.social span {
  margin-right: 10px;
  letter-spacing: -0.03rem;
  font-size: 0.7rem;
}
